<form [formGroup]="form1" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Company</mat-label>
        <input matInput placeholder="Company" formControlName="company">     
    </mat-form-field> &nbsp; &nbsp;

    <mat-form-field> 
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="address"> 
    </mat-form-field> &nbsp; &nbsp; Add a new user &nbsp; &nbsp;
    <button type="button" mat-raised-button color="accent" (click)="addUser()"><mat-icon matTooltip="Add a new user">add</mat-icon></button>
    <br>
    
    <div *ngFor="let u of userArray.controls; index as i">

        <span>User {{ i + 1 }}</span> &nbsp; &nbsp;
        <app-name-gender [inputFormGroup]="$any(u)"></app-name-gender> &nbsp; &nbsp;
        <button mat-raised-button color="accent" (click)="removeUser(i)"><mat-icon>delete</mat-icon></button>

    </div>

    <button type="submit" mat-raised-button color="accent">Submit</button>
</form>