<div class="mat-h2">FormControl, FormGroup, FormArray</div>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Notes on AbstractControls</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
        <li>FormControl, FormGroup and FormArray are AbstractControls.</li>
        <ul>
            <li>FormControl holds a value, which can be a singleton or an array.</li>
            <li>FormGroup holds a nested collection of AbstractControls via name-value pairs. (i.e. JSON)</li>
            <li>FormArray holds an array of unamed AbstractControls.</li>
        </ul>
        <li>An abstract control may have a parent (.parent)</li>
        <li>In a template, you can assign AbstractControl via 
            <span class="code">formxxxxName=""</span> syntax or <span class="code">[formxxxx]="xxxx"</span> syntax.</li>
        <li>Use getters and typecast in component to make code more readable.</li>
        <li>Use FormBuilder to simplify syntax.</li>
        <li>When submitting, you may need to manipulate form.value before saving to a database.</li>
    </ul>
</mat-expansion-panel>

<form [formGroup]="exampleForm" (ngSubmit)="onSubmit()">

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>FromControl: a singleton holding a value</mat-panel-title>
        </mat-expansion-panel-header>

        <!-- FormControl -->
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field> &nbsp; &nbsp; 
        <button mat-raised-button color="accent" type="button" (click)="logName()">Log</button> &nbsp; &nbsp;
        
        <mat-form-field appearance="outline">
            <mat-label>Nationality</mat-label>
            <input matInput placeholder="Nationality" [formControl]="nationality">
        </mat-form-field> &nbsp; &nbsp; 
        
        <button mat-raised-button color="accent" type="button" (click)="logNationality()">Log</button>

    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>FormGroup: a collection of AbstractControls by name (object)</mat-panel-title>
        </mat-expansion-panel-header>
        <!--  Nested FormGroup: Address -->
        <div formGroupName="address">
            <mat-form-field appearance="outline">
                <mat-label>Street address</mat-label>
                <input matInput placeholder="Street address" formControlName="streetAddress">
            </mat-form-field> &nbsp; &nbsp;
            
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput placeholder="City" formControlName="city">
            </mat-form-field> &nbsp; &nbsp; 

            <button mat-raised-button color="accent" type="button" (click)="logAddress()">Log</button>
        </div>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>FormArray: a collection of AbstractControls by index (array)</mat-panel-title>
        </mat-expansion-panel-header>
        <!-- FormArray -->
        <div *ngFor="let f of family.controls; index as i">
            <span>Family memeber {{ i + 1 }}:</span> &nbsp; &nbsp;
            <mat-form-field appearance="outline">
                <mat-label>Family member {{ i + 1 }}</mat-label>
                <input matInput placeholder="Enter family member" [formControl]="$any(f)">
            </mat-form-field>
        </div>
        <button mat-raised-button color="accent" type="button" (click)="logFamily()">Log</button>
    </mat-expansion-panel>
    <br>
    <button mat-raised-button color="accent" type="submit">Submit</button>
</form>