<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-icon [matMenuTriggerFor]="mainMenu">menu</mat-icon>
    <div>Angular 12 Tutorial</div>
    <mat-icon [routerLink]="['/help']">help</mat-icon>
</mat-toolbar>

<mat-menu #mainMenu>
    <menu mat-menu-item><mat-icon [routerLink]="['/']">home</mat-icon></menu>
    <menu mat-menu-item [matMenuTriggerFor]="formMenu">Reactive form</menu>
</mat-menu>

<mat-menu #formMenu>
    <menu mat-menu-item [routerLink]="['/reactive-form/form-basics']">Form basics</menu>
    <menu mat-menu-item [routerLink]="['/reactive-form/reuse-form']">Reuse form</menu>
</mat-menu>