/* You can add global styles to this file, and also import other style files */
@import 'src/app/app-data/color-scheme.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.padded {
    padding: 10px;
}

.code {
    color: blue;
    font-family: 'Fira Code';
}